@font-face {
  font-family: "monkey";
  src: url(../font/monkey/monkey.otf);
}

@font-face {
  font-family: "cursive";
  src: url(../font/cursive/Cursivestandard.ttf);
}

main {
  display: flex;
flex-direction: column;
width: 33%;
align-items: center;

}

html {
  background: url("../img/jeu.png") center center no-repeat fixed;
  background-size: 36%;
}

main p {
 font-family: "cursive";
}

main h1 {
  font-family: "monkey";
}
